/*@media screen and (min-width: 1201px)*/

.splashLogo
{
width: 500px;
  height:auto;
  top: 30%;
  left: 50%;
  position: fixed;
  margin-left: -250px;
}


@media (max-width: 1200px)
{
    .splashLogo
    {
      width: 500px;
      height:auto;
      top: 30%;
      left: 50%;
      position: fixed;
      margin-left: -250px;
    }
    .splashLogo #intro
    {
      color:white;
      font-size: 15px;
    }

    #photos
    {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
    }
}
@media (max-width: 1000px)
{
    .splashLogo
    {
      width: 400px;
      height:auto;
      top: 30%;
      left: 50%;
      position: fixed;
      margin-left: -200px;
    }
    .splashLogo #intro
    {
      color:white;
      font-size: 12px;
    }

    #photos
    {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
    }

}

@media (max-width: 800px)
{

    .splashLogo
    {
      width: 200px;
      height:auto;
      top: 30%;
      left: 50%;
      position: fixed;
      margin-left: -100px;
    }

    .splashLogo img
    {
        width: 100%;
    }

    .splashLogo #intro
    {
      color:white;
      font-size: 10px;
        display:block;
    }

    #photos
    {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
    }
}

@media (max-width: 400px) {
  #photos
  {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

body {
  background-color:white;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow: hidden;
  display:inline-block;
}

body.open
{
  overflow: auto;
}

body #splashScreen
{
  z-index:1000;
  background-color:#000000;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  opacity:1.0;
  cursor:pointer;
  text-align:center;
  margin: 0 auto;

}

body #splashScreen.closed
{
  transition: 2s;
  opacity:0;
  visibility: hidden;
  width: 100%;
}

body .splashLogo
{

  height:auto;
  /*top: 40%;*/
  position: fixed;
}


#splashScreen
{
  z-index:1000;
  background-color:#000000;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  cursor:pointer;
}

#splashScreen:focus
{
  outline: none;
}

#splashScreen.closed
{
  transition: 2s;
  width:0%;
  visibility: hidden;
}

#splashLogo
{
  position:relative;
  width: auto;
  height: auto;
}

#photos
{
  width: 100%;
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap:0px;
}

#photos img
{
  width: 100% !important;
  height: auto !important;
  border:5px;
  border-top: 0px;
  border-color: white;
  border-style: solid;
  transition: all .2s ease-in-out;
  opacity: 1.0;
  cursor: pointer;
}

#photos img:hover
{
    border-color:red;
}

#container
{
  top: 0px;
  bottom: 0px;
  text-align: center;
  position: absolute;
}
